body {
    padding-top: 5rem;
}
.main{
  width: 70%;
  height: 50%;

}
#tops{
border-top-left-radius: 15px;
border-top-right-radius: 15px;
  padding-top: 3rem;


  background-color: lavender;
}
#bots{

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: LIGHTblue;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  border-radius: 50%;

}
p,h1{
  text-align: center;
  margin: 0px;
}
button{

  width: 160px;
  height:35px;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
}
#goals{
  display: flex;
  border-bottom: 1rem;
}
.pts, .foln, .folw{
  text-align: center;
  font-weight: bold;
  padding-top: 2rem;
padding-bottom: 2rem;
  margin-right: 15px;
}
